[submodule "controller"]
	path = controller
	url = git@github.com:LiU-SeeGoals/controller.git
[submodule "firmware/basestation"]
	path = firmware/basestation
	url = git@github.com:LiU-SeeGoals/basestation.git
[submodule "firmware/robot"]
	path = firmware/robot
	url = git@github.com:LiU-SeeGoals/robot.git
[submodule "software/controller"]
	path = software/controller
	url = git@github.com:LiU-SeeGoals/controller.git
[submodule "software/GameViewer"]
	path = software/GameViewer
	url = git@github.com:LiU-SeeGoals/GameViewer.git
